body {
  margin: 0;
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #f4faf8;
}

#sidebar {
  width: 300px;
  background-color: #ffffff;
  border-right: 2px solid #009688;
  overflow-y: auto;
  padding: 10px;
}

#sidebar h2 {
  text-align: center;
  color: #004d40;
  margin-bottom: 10px;
}

#sidebar input {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #b2dfdb;
  border-radius: 5px;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar li {
  padding: 6px;
  border-bottom: 1px solid #e0f2f1;
  cursor: pointer;
  transition: 0.2s;
}

#sidebar li:hover {
  background-color: #e0f2f1;
}

#map {
  flex-grow: 1;
  height: 100vh;
}
