body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #c3f2f8, #fefefe);
  color: #333;
  text-align: center;
}

header {
  background-color: #009688;
  color: white;
  padding: 10px 0;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

header p {
  margin: 5px;
  font-size: 14px;
}

#languageSelect, #provinceSelect {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

#map {
  height: 80vh;
  width: 100%;
  border-top: 4px solid #009688;
  border-bottom: 4px solid #009688;
}

footer {
  background-color: #004d40;
  color: white;
  padding: 10px;
  font-size: 13px;
}
