body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f0f8f7;
  color: #333;
}

header {
  background: linear-gradient(90deg, #009688, #00796b);
  color: white;
  padding: 10px;
  text-align: center;
}

header h1 {
  margin: 5px;
  font-size: 22px;
}

.controles {
  margin: 10px 0;
}

select {
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
}

#map {
  width: 100%;
  height: calc(100vh - 180px);
  border-top: 3px solid #00796b;
  border-bottom: 3px solid #00796b;
}

footer {
  background-color: #004d40;
  color: white;
  padding: 8px;
  font-size: 13px;
  text-align: center;
}
